.project {
  background-color: #f9b8be;
  color:#50666b;
  border-color: #000000;
  border-style: solid;
  border-width: 2px;
  padding:10px;
  width:60%;
}

.center {
margin-left:20%;
margin-right:22%;
border-radius: 10px;
box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
}

.header {
  color: #50666b;
  background-color:#f9b8be;
  font-size: 3vmin;
  text-align: center;
  padding: 2px;
  margin-left: 35%;
  width:30%;
  margin-top:20px;
  margin-bottom: 20px;
  border-radius: 10px;
}
.carousel-inner img {
    width: 100%;
    height: 100%;
  }

.title {
  font-size:3vmin;
  text-align: center;
}

body {
  background-color: #2e3b3e;
}

a {
    font-size:2vmin;
}

div {
    font-size:2vmin;
}
